header {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 120px;
  padding: 10px;
  margin-inline: auto;
  border-radius: 5px;
  border: solid 3px var(--Header-Outline);
  a {
    height: 100%;
    img {
      width: 150px;
      height: 100%;
    }
  }
  div {
    width: 90px;
    height: 100%;
    text-align: center;
    background-color: var(--white);
    border-radius: 5px;
    padding-block: 20px;
    p:first-child {
      text-transform: uppercase;
      letter-spacing: 2px;
      color: var(--Score-Text);
    }
    p:last-child {
      font-size: 2rem;
      font-weight: 700;
      color: var(--Dark-Text);
    }
  }
}
@media screen and (max-width: 500px) {
  header {
    width: 90%;
  }
}
