.rule-button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--white);
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 2px;
}
@media screen and (max-width: 420px) {
  .rule-button {
    right: 50%;
    transform: translateX(50%);
  }
}
