:root {
  --Scissors-Gradients: linear-gradient(
    to left,
    hsl(39, 89%, 49%),
    hsl(40, 84%, 53%)
  );
  --Cyan: linear-gradient(to left, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  --Rock-Gradients: linear-gradient(
    to left,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
  --Paper-Gradients: linear-gradient(
    to left,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
  --Lizard-Gradients: linear-gradient(
    to left,
    hsl(261, 73%, 60%),
    hsl(261, 72%, 63%)
  );
  /* --Neutral */
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);
  --rule-bg: rgba(0, 0, 0, 0.445);
  --white: #e0e0e0;
  /* --Background */
  --Radial-Gradient: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  outline: none;
  border: none;
}
#root {
  width: 100vw;
  height: 100vh;
}
#root > main {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-image: var(--Radial-Gradient);
}
