.rules {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: -20px;
  bottom: -20px;
  z-index: 10;
  background-color: var(--rule-bg);
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    width: 400px;
    height: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 15px;
    position: relative;
    animation: rule-animation 0.2s linear 1 forwards;
    h1 {
      font-size: 2rem;
      text-transform: uppercase;
    }
    img:first-of-type {
      height: 70%;
      margin: 40px 45px;
    }
    img:last-of-type {
      position: absolute;
      top: 30px;
      right: 20px;
      width: 5%;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 420px) {
  .rules {
    justify-content: start;
    align-items: start;
  }
  .rules section {
    width: 100vw;
    animation: rule-animation-mobile 0.2s linear 1 forwards;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: center;
      margin-top: 150px;
    }
    img:first-of-type {
      height: 30%;
    }
    img:last-of-type {
      top: auto;
      bottom: 50px;
      right: 50%;
      transform: translateX(50%);
      width: 40px;
    }
  }
  @keyframes rule-animation-mobile {
    0% {
      height: 0;
      padding: 0;
    }
    100% {
      height: 100%;
      padding: 20px;
    }
  }
}
@keyframes rule-animation {
  0% {
    height: 0;
    padding: 0;
  }
  100% {
    height: 400px;
    padding: 20px;
  }
}
